@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 6px;
    height: 65px;
    display: flex;
    align-items: center;
    top:5%;
}

#logoHeading{
    font-size: 25px;
    font-family: cursive;
    margin-left:30px;

}
.navigation{
    position: absolute;
    right:2%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li{
    margin: 0px 10px;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    color: inherit;
}
#Join {
    margin: 0px 18px;
    cursor: pointer;
    font-weight: 600;
    color: inherit;
    border-radius: 16px;
    background-color: white;
    border: 1px solid #ceced2;
    padding: 10px 12px;
}
#Join:hover{
    border: 2px solid black;
}

#uploadButtonImage{
    height:13px;
    position: relative;
    right:-11%;
    cursor: pointer;
    color:white;
}

#Upload{
    margin: 0px 18px;
    cursor: pointer;
    font-weight: 600;
    color: inherit;
    border-radius: 16px;
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 30px;
}
#bgimage{
    width: 100vw;
    height: 500px;
}
.searchImageContainer{
   min-height: 550px;
   background-color: #b22bb2;
   color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url('images/WhatsApp\ Image\ 2023-02-09\ at\ 15.55.38\ \(2\).jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-repeat: no-repeat;
   background-attachment: cover;
}

#searchHeading {
    font-family: 'Ubuntu', sans-serif;
    font-size:35px;
    margin:8px 0px;
}
.searchImageContainer > form{
    margin:28px 0px;
}
#searchInput{
    padding:20px 20px;
    width:60vw;
    border:none;
    border-radius:40px;
}
#searchLogo{
    height:35px;
    position: relative;
    left:6%;
    margin:-11px auto;
    cursor: pointer;
}
input::placeholder{
    padding:40px;
}
#allImages{
    display: inline;
    background-color: white;
    padding:8px;
    position: relative;
    color:black;
    right:13%;
    cursor: pointer;
}
.popularContainer > a{
    text-decoration: none;
    color:#adabab;
    font-size:13px;
}
.popularContainer > a:hover{
    color:white;
    text-decoration: underline;
}
.middleNavigationContainer{
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.middlenavicon{
    height: 13px;
    cursor: pointer;

}
.middlenavspan{
    margin: 0px 8px;
    padding: 3px 12px;
    cursor: pointer;
}
#editorButton{
    position: absolute;
    right: 2%;
    background-color: white;
    padding: 12px 15px;
    border-radius: 21px;
    border: 1px solid #ceced2;
    font-weight: bold;
    font-size:16px;
    cursor: pointer;
}
#editorButton:hover{
    border:1.5px solid black;
}
.imageContainer{
    margin-top: 50px;
}
.mountainRoad{
    margin-left:40px;
    cursor: pointer;
}
.row{
    margin-top: 34px;
    display: flex;
    justify-content: space-evenly;
}
.mountainRoadImage{
    height:300px;
    width:300px;
    border-radius: 10px;
}
.likeMark{
    /* display: none; */
    position: relative;
   height: 20px;
   bottom:252px;
   right:261px;
   border-radius: 5px;
   background-color: white;
   padding:4px;
}
.addToCollectionMark{
    /* display: none; */
    position: relative;
    height:20px;
    bottom:252px;
    right:249px;
    border-radius: 5px;
    background-color: white;
    padding:4px;
}






